<ion-header id="anchor">
  <ion-toolbar id="pageHeader" mode="ios" color="primary">
    <ion-title>Liste des dernières visites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchQuery" placeholder="Rechercher par nom ou email"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let visit of filterVisits()">
      <ion-label>
        <h2>{{ visit.student.firstname }} {{ visit.student.lastname }}</h2>
        <p>{{ visit.student.email }}</p>
        <p>📅 {{ visit.visitDate | date:'dd/MM/YYYY' }} | 📍 {{ visit.distribution.name }} |
          💳 {{ visit.paymentMethod }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreVisits($event)" threshold="100px" *ngIf="!allLoaded">
    <ion-infinite-scroll-content loadingText="Chargement..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
