<ion-header id="anchor">
  <ion-toolbar id="pageHeader" mode="ios" color="primary">
    <ion-title>Liste des dernières visites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchQuery" placeholder="Rechercher par nom ou email"></ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let visit of filterVisits()">
      <ion-card-header (click)="viewStudent(visit.student)">
        <ion-card-subtitle>{{ visit.student.email }}</ion-card-subtitle>
        <ion-card-title>{{ visit.student.firstname }} {{ visit.student.lastname }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        📅 {{ visit.visitDate | date:'dd/MM/YYYY' }} | 📍 {{ visit.distribution.name }} |
        💳 {{ visit.paymentMethod }}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreVisits($event)" threshold="100px" *ngIf="!allLoaded">
    <ion-infinite-scroll-content loadingText="Chargement..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-modal #viewStudentModal class="view-student-modal">
    <ng-template>
      <app-view-profile-modal [viewProfileModal]="viewStudentModal"
                              [student]="selectedStudent"></app-view-profile-modal>
    </ng-template>
  </ion-modal>
</ion-content>
