<ion-header id="anchor">
  <ion-toolbar id="pageHeader" color="primary">
    <ion-buttons slot="start">
      <ion-button id="open-view-card" class="ion-no-padding" fill="clear" size="large">
        <ion-icon slot="icon-only" name="id-card"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      style="text-align: center; font-weight: bold; font-size: 1.3em">
      Mon Profil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-edit-profile" class="ion-no-padding" fill="clear" size="large">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-modal #viewCardModal trigger="open-view-card" class="auth-modal">
    <ng-template>
      <app-view-card-modal [viewCardModal]="viewCardModal" [student]="student"></app-view-card-modal>
    </ng-template>
  </ion-modal>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-around">
      <ion-col size="12" size-sm="6">
        <ion-img [src]="student?.qrCode"></ion-img>
      </ion-col>
      <ion-col id="info" size="12" size-sm="6">
        <ion-text>
          <ion-title>{{ student?.firstname }} {{ student?.lastname }}</ion-title>
          {{ getAge() }} ans
        </ion-text>
        <ion-text>Date de Naissance: {{ student?.birthdate | date:'dd/MM/yyyy' }}</ion-text>
        <ion-text>Email: {{ student?.email }}</ion-text>
        <ion-text>
          Étudiant: <a [style.color]="student?.isStudent?'lightgreen':'red'"
                       style="font-weight: bold">{{ student?.isStudent ? 'OUI' : 'NON' }}</a>
        </ion-text>
        <ion-text *ngIf="student?.isStudent">
          Niveau: {{ student?.graduation?.toString()?.toUpperCase() }}
        </ion-text>
        <ion-text *ngIf="student?.isStudent">
          Formation: {{ student?.formation }}
        </ion-text>
        <ion-text>Membres du Foyer: {{ student?.household }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-modal #editProfileModal trigger="open-edit-profile" class="edit-profile-modal">
    <ng-template>
      <app-edit-profile-modal [editProfileModal]="editProfileModal" [student]="student"
                              role="STUDENT"></app-edit-profile-modal>
    </ng-template>
  </ion-modal>
</ion-content>
