<ion-header id="anchor">
  <ion-toolbar id="pageHeader" mode="ios" color="primary">
    <ion-title>Liste des étudiants</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createStudent()" class="ion-no-padding" fill="clear" size="large">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearchChange()"
                 placeholder="Rechercher un étudiant"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let student of filterStudents()">
      <ion-toolbar>
        <ion-avatar slot="start">
          <!--          <img *ngIf="student.profilePicture" [src]="student.profilePicture" alt="Profile Picture">-->
          <!--          <ion-icon *ngIf="!student.profilePicture" name="person-circle-outline"></ion-icon>-->
          <ion-icon color="primary" name="person-circle-outline" style="width: 80%; height: 100%"></ion-icon>
        </ion-avatar>
        <ion-label (click)="viewStudent(student)">
          <h2>{{ student.firstname }} {{ student.lastname }}</h2>
          <p>{{ student.email }}</p>
        </ion-label>
        <ion-buttons slot="end" (click)="selectStudent(student)">
          <ion-button class="ion-no-padding" fill="clear" size="large">
            <ion-icon color="primary" slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreStudents($event)" threshold="100px" *ngIf="!allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-modal #registerStudentModal class="register-student-modal">
    <ng-template>
      <app-register-modal [registerFunction]="registerStudent.bind(this)" [registerModal]="registerStudentModal"
                          [isAdminRegistration]="true"></app-register-modal>
    </ng-template>
  </ion-modal>
  <ion-modal #viewStudentModal class="view-student-modal">
    <ng-template>
      <app-view-profile-modal [viewProfileModal]="viewStudentModal"
                              [student]="selectedStudent"></app-view-profile-modal>
    </ng-template>
  </ion-modal>
  <ion-modal #editStudentModal class="edit-student-modal">
    <ng-template>
      <app-edit-profile-modal [editProfileModal]="editStudentModal" [student]="selectedStudent"
                              role="ADMIN"></app-edit-profile-modal>
    </ng-template>
  </ion-modal>
</ion-content>
