<ion-header id="anchor">
  <ion-toolbar id="pageHeader" mode="ios" color="primary" (click)="authService.logout();">
    <ion-title>Tableau de Bord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filters-container">
    <ion-item lines="none">
      <ion-text>
        <h1 class="ion-no-margin">Trier par filtres:</h1>
      </ion-text>
      <ion-button *ngIf="selectedDistribution || selectedYear || selectedMonth" fill="outline" (click)="cleanFilters()"
                  color="danger" style="margin-left: 5px">
        <!--        <ion-icon slot="icon-only" color="danger" name="close-circle-outline"></ion-icon>-->
        Réinitialiser
        <ion-icon name="funnel-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <div class="filter-scroll">
      <ion-select [(ngModel)]="selectedDistribution" (ionChange)="onDistributionChange($event)" style="min-width: 150px"
                  label="Distribution" interface="popover" label-placement="floating" fill="outline">
        <ion-select-option *ngFor="let distribution of distributions" [value]="distribution">{{ distribution }}
        </ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="selectedYear" (ionChange)="onYearChange($event)" label="Année"
                  interface="popover" label-placement="floating" fill="outline">
        <ion-select-option *ngFor="let year of years" [value]="year">{{ year }}</ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="selectedMonth" (ionChange)="onMonthChange($event)" label="Mois"
                  interface="popover" aria-hidden="false" label-placement="floating" fill="outline">
        <ion-select-option *ngFor="let month of months" [value]="month.value">{{ month.label }}
        </ion-select-option>
      </ion-select>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-toolbar>
              <ion-icon slot="start" name="calendar-number-outline" size="large"></ion-icon>
              <ion-text slot="end"><h2>{{ stats.visitsToday }}</h2></ion-text>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content>
            <h3>Visites d'Aujourd'hui</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-toolbar>
              <ion-icon slot="start" name="people-outline" size="large"></ion-icon>
              <ion-text slot="end"><h2>{{ stats.totalStudents }}</h2></ion-text>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content>
            <h3>Adhérants Total</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-toolbar>
              <ion-icon slot="start" name="bag-check-outline" size="large"></ion-icon>
              <ion-text style="text-align: center"><h3>Visites Total</h3></ion-text>
              <ion-text slot="end"><h2>{{ stats.totalVisits }}</h2></ion-text>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-toolbar>
              <ion-icon slot="start" name="card-outline" size="large"></ion-icon>
              <ion-text slot="end"><h2>{{ stats.cardPayments }}</h2></ion-text>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content>
            <h3>Paiements par Carte</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-toolbar>
              <ion-icon slot="start" name="cash-outline" size="large"></ion-icon>
              <ion-text slot="end"><h2>{{ stats.cashPayments }}</h2></ion-text>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content>
            <h3>Paiements en Espèces</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-toolbar>
              <ion-icon slot="start" name="business-outline" size="large"></ion-icon>
              <ion-text style="text-align: center"><h3>Distributions</h3></ion-text>
              <ion-text slot="end"><h2>{{ stats.totalDistributions }}</h2></ion-text>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content>
            <ion-text *ngFor="let distribution of stats.visitsByDistribution">
              <p>{{ distribution.name }}
                - {{ distribution.count }}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-toolbar>
              <ion-icon slot="start" name="library-outline" size="large"></ion-icon>
              <ion-text style="text-align: center"><h3>Formations</h3></ion-text>
              <ion-text slot="end"><h2>{{ stats.totalFormations }}</h2></ion-text>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content>
            <ion-text *ngFor="let formation of stats.mostActiveFormations">
              <p>{{ formation.name }} - {{ formation.count }}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
