app-edit-distribution-modal {
  height: 100% !important;
}

ion-card {
  --background: #f6f5fd;
  margin-block: 15px;
  padding-left: 15px;
  padding-block: 10px;
  border-radius: 10px;
}

ion-toolbar {
  --background: rgba(0, 0, 0, 0);
}
