ion-content {
  --background: #ffffff;
  --color: #ffffff;
  overflow: hidden;
}

ion-toolbar {
  ion-buttons {
    color: #ef0909;

    ion-button {
      --color: #ef0909;
    }
  }
}

ion-grid {
  padding: 0;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-row {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 50% !important;
    width: 70% !important;

    ion-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .open {
        margin: 0;
        width: 90%;
        aspect-ratio: 1/1;
        --border-radius: 25px;
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93%;
}

.no-student {
  height: 85%;
}

ion-card {
  width: 90%;
  border-radius: 15px;
}

ion-card-title {
  --color: #000000;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-segment {
    margin: 10px;
  }
}

ion-segment-button {
  padding: 0.4em;
}

ion-segment-button::part(indicator-background) {
  background: var(--ion-color-primary);
}

.segment-button-checked::part(native) {
  color: #ffffff;
}

ion-segment-button::part(native) {
  color: #000000;
}

ion-fab-button {
  --background: #24519f !important;
  //--color: #24519f !important;
  opacity: 1 !important;
}

@media (min-width: 750px) {
  ion-grid {
    ion-row {
      ion-col {
        .open {
          width: 70%;
          aspect-ratio: auto;
          height: 100%;
        }
      }
    }
  }
}
